/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4c3d86;
    padding: 2px;
    color: white;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-toggle:hover{
    transform: scale(2.5);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.nav-links a:hover{
    color: #dfdfdf;
    cursor: pointer;
    
    text-decoration:underline;
}

/* Estilo para el enlace de Cerrar Sesión */
.nav-links .logout{
    color: #e66666; 
    font-weight: bold;
}

.nav-links .logout:hover {
    color: #ff0000; 
    text-decoration: underline; 
    cursor: pointer;
}
/* Footer */
.footer {
    background-color: #4c3d86;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}

.footer-content p {
    margin: 5px 0;
}

.footer img {
    width: 30px;
    margin: 0 10px;
    border-radius: 50%;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #4c3d86;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links li {
        text-align: center;
        padding: 10px;
    }
}