/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Contenedor principal */
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

/* Títulos */
.historia-container h1 {
    font-size: 24px;
    text-align: center;
    color: black;
}

.historia-content{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Imágenes */
.historia-content img {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: auto;
}

h2 {
    text-align: center;
    color: #000;
}

/* Párrafos */
.historia-container p {
    text-align: justify;
    color: #555;
    line-height: 2;
}


/*Versiones*/
.versiones{
    text-align: justify;
    color: #555;
    line-height: 2;
}
.versiones ul{
    text-align: center;
    list-style: none;
}

/* Video */
.video {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.video video {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 10px;
}

.video p{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}
